*{
    margin: 0;
    background-color: #DAE5E8;
    font-family: 'Cabin Condensed', sans-serif;
}

main img {
  height: 50vh;
  width: 50vw;
  min-height:50vw;
  grid-template: 1-1;
  display: grid;
  margin: 40px 40px;
  align-items: center;
  justify-content: center;
}

header {
  color: white;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  list-style-type: none;
}
section img {
  height: 100%;
  width: 30%;
}  

a {
  width: 20vw;
  height: 20vh;
  
  justify-content: center;
}

nav a {
  justify-self: center;
  align-self: center;
  justify-content: center;
}
}