body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

#main-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 40fr 40fr 2fr 40fr;
    width: 100vw;
    height: 100vh;
    gap: 20px;
}
div {
    border: 1px solid black;

}

#first-block {
    background-color: red;
    grid-column: 1/-1;
    grid-row: 1;
    height: 10vh;
}

.blue-block {
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yellow-block {
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green-block {
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black-block {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-rows: 10fr 3fr;
    width: 50vw;
    height: 40vh;
    
}

.white-block {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
        
}
