* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: whitesmoke;
    color: black;
}

header {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: blueviolet;
}

section {
    display: flex;
    justify-content: space-evenly;
    height: 90vh;
    color: black;
    background: blueviolet;
}

.semana {
    border: 1px dotted rgb(53, 53, 53);
    width: 14%;
    padding: 5px;
    color: black;
    background-color: aquamarine;
}