@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap');

* {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.header {
    background-color: #998bed;
    height: 80px;
    
  
}

.menu {
    margin: 15px 0;
}

.menu a {
    color:whitesmoke;
    padding: 10px;
    margin: 10px
}

#selected {
    color: #993744;
}

#profile-picture {
    height: 250px
}


form input {
    display: block;
}

.footer {
    background-color: #998bed;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer a {
    color: black
    ;
}
div.container {
    height: 10em;
    position: relative }
div.container p {
    margin: 25px;
    position: relative;
    top: -160%;
    left: 16%;
    margin-right: -20%;
     }
     div.container h2 {
        margin: 25px;
        position: relative;
        top: -150%;
        left: 16%;
        margin-right: -10%;
         }
    