p {
    color: blue;
}
p:last-child {
   color: fuchsia;
   font-size: 80px;
   margin: auto;
}
table {
    color: brown;
}h2 {
    background-color: pink;
    color: white;
}
div {
    text-align: center;
}
div a {
    color: brown;
}
div > img {
        width: 200px;
        height: 200px;
        margin-top: 10px;
        }
}
h1 {
    color: fuchsia;
    text-align: center;
}
h1, h2 {
    background-color: pink;
    text-align: center;
}
p {
    color: fuchsia;
    text-align: center;
}
ol {
    text-align: center;
    border: 1px solid black;
    margin: auto;
    width: 5%;
    border: 3px solid transparent
    padding: 10px;
}